<% if current_user.present? %>
  <h1>Hello <%= current_user.username %>!</h1>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <h1>Hello!</h1>
  <div>
      <%= form_for :user, url: sessions_path do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br>
        <%= f.label :password %>
        <%= f.text_field :password %>
        <br>
        <%= f.submit "Login" %>
      <% end %>
  </div>
  <%= button_to "Sign up", new_user_path, method: :get %>
<% end %>

<ui-view></ui-view>
<div ui-view="stories-index"></div>

<% if current_user.present? %>
<div ui-view="goals-index"></div>
<% end %>

<br>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>