<% if current_user.present? %>
  <h1>Hello <%= current_user.username %>!</h1>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <h1>Hello!</h1>
  <div>
      <%= form_for :user, url: sessions_path do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br>
        <%= f.label :password %>
        <%= f.text_field :password %>
        <br>
        <%= f.submit "Login" %>
      <% end %>
  </div>
  <%= button_to "Sign up", new_user_path %>
<% end %>

<h2>Featured stories:</h2>
<table>
<tr ng-repeat="story in stories">
  <td width="20%">{{story.title}}</td>
  <td width="60%">{{story.text}}</td>
  <td width="20%">{{story.hashtag}}</td>
</tr>
</table>
<h2>Search by hashtag: #{{tag}}</h2>
<input type="text" ng-model="tag"/>
<p></p>
<table>
<tr ng-repeat="story in stories" ng-show="story.hashtag.toLowerCase() == tag.toLowerCase()">
  <td width="20%">{{story.title}}</td>
  <td width="80%">{{story.text}}</td>
</tr>
</table>

<br>
<div>
  <%= form_for :goal, url: goals_path do |f| %>
    <%= f.label :title, "What would you like to do" %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :desc, "Why is it important to you" %>
    <%= f.text_field :desc %>
    <br>
    <%= f.submit "Add Goal" %>
  <% end %>
</div>

<table>
<tr ng-repeat="goal in goals">
  <td width="20%">{{goal.title}}</td>
  <td width="70%">{{goal.desc}}</td>
  <td width="10%"><a href="#" ng-click="editGoal(goal)">edit</a> | <a href="#" ng-click="removeGoal(goal)">delete</a></td>
</tr>
</table>

<br>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

