<div class="">
  <% flash.each do |name, msg| %>
  <% content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
  <% end %>
</div>

<% if !current_user %>
  <div class="app">
      <%= form_for :user, url: sessions_path do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br>
        <%= f.label :password %>
        <%= f.text_field :password %>
        <br>
        <%= f.submit "Login" %>
      <% end %>
  </div>
<% end %>
<div class="app">
<ui-view></ui-view>
</div>