<% if current_user.present? %>
  <h1>Hello <%= current_user.username %>!</h1>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <h1>Hello!</h1>
  <div>
      <%= form_for :user, url: sessions_path do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br>
        <%= f.label :password %>
        <%= f.text_field :password %>
        <br>
        <%= f.submit "Login" %>
      <% end %>
  </div>
  <%= button_to "Sign up", new_user_path, method: :get %>
<% end %>

<div ui-view="stories-index"></div>

<% if current_user.present? %>
<div>
  <%= form_for :goal, url: goals_path do |f| %>
    <%= f.label :title, "What would you like to do" %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :desc, "Why is it important to you" %>
    <%= f.text_field :desc %>
    <br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Add Goal" %>
  <% end %>
</div>

<div ui-view="goals-index"></div>

<% end %>

<br>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>