<!DOCTYPE html>
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<!-- UI-Router -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- bootstrap css -->
  <link type="text/css"
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.min.css">
  <link type="text/css"
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet-theme-ios.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<html lang="en" ng-app="growth_tracker">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <header class="bar bar-nav">
    <% if current_user.present? %>
      <h1 class="title">
      <% if content_for? :title %>
        <%=yield :title %>
      <% else %>
        Hello <%= current_user.username %>!
      <% end %>
      </h1>
      <% if content_for :back %>
        <button class="btn" style="float: left">
          <%=yield :back%>
        </button>
      <% end %>
      <button class="btn" style="float: right">
        <%= link_to "Logout", logout_path, method: :delete %>
      </button>
    <% else %>
      <h1>Hello!
      <button class="btn" style="float: right">
        <%= link_to "Sign up", new_user_path, method: :get %>
      </button>
      </h1>
    <% end %>
  </header>
  <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="MainCtrl">
     <%= yield %>
</body>

<% if current_user %>
<nav class="bar bar-tab">
  <a class="tab-item" ui-sref="main">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" ui-sref="goals">
    <span class="icon icon-share"></span>
    <span class="tab-label">Goals</span>
  </a>
  <a class="tab-item" ui-sref="stories">
    <span class="icon icon-list"></span>
    <span class="tab-label">Stories</span>
  </a>
</nav>
<% end %>

</html>
